<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h6>admin admin</h6>
            <h6>admin@admin.com</h6>
        </div>
        <img src="https://scontent.ftun1-2.fna.fbcdn.net/v/t39.30808-6/240727109_5911428762265502_2772219795114951416_n.jpg?_nc_cat=103&ccb=1-6&_nc_sid=09cbfe&_nc_ohc=LE3-8YQ_SygAX_WJKbX&_nc_ht=scontent.ftun1-2.fna&oh=00_AT-uHWWXk2B94S-yD0C0TBVRCwteZYTJCg0EnTEUa-snHA&oe=6287C327"
            alt="">
    </div>
    <mat-divider></mat-divider>
    <h2 matSubheader> pages </h2>
    <a mat-list-item routerLinkActive="list-item-active" routerLink='/'>
        <mat-icon aria-hidden="false" aria-label="Example home icon">dashboard</mat-icon>
        dashboard</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink='/qcm'>
        <mat-icon aria-hidden="false" aria-label="Example home icon">code</mat-icon>
        QCM</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink='/students'>
        <mat-icon aria-hidden="false" aria-label="Example home icon">person</mat-icon>
        Students </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink='/studentsinfo'>
        <mat-icon aria-hidden="false" aria-label="Example home icon">trending_up</mat-icon>
        dunno</a>
</mat-nav-list>