<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h2>admin admin</h2>
            <h4>admin@admin.com</h4>
        </div>
        <img src="https://scontent.ftun16-1.fna.fbcdn.net/v/t39.30808-6/241797130_3113489245607209_1381627499070074559_n.jpg?_nc_cat=101&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=JenRpdXFWP8AX_0Gc0p&_nc_ht=scontent.ftun16-1.fna&oh=00_AT-jgKUlPbE4JVR4zRIP7Qdny8oIu-RFfPVrNefnNo7etQ&oe=6273AE2B"
            alt="">

    </div>
    <mat-divider></mat-divider>
    <h2 matSubheader> pages </h2>
    <a mat-list-item routerLinkActive="list-item-active" routerLink='/'>dashboard</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink='/qcm'>QCM</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink='/students'>Students </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink='/studentsinfo'>dunno</a>


    <mat-divider></mat-divider>
    <h2 matSubheader> tools </h2>
    <a mat-list-item routerLinkActive="list-item-active" routerLink='/contacts'>
        <mat-icon>import_contacts</mat-icon>
        contacts
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink='/contacts'>
        <mat-icon>contact_phone</mat-icon>
        leads
    </a>

</mat-nav-list>