<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h2>wissem saadli</h2>
            <h4>saadliwissem88@gmail.com</h4>
        </div>
        <img src="https://scontent.ftun1-2.fna.fbcdn.net/v/t39.30808-1/241797130_3113489245607209_1381627499070074559_n.jpg?stp=dst-jpg_p160x160&_nc_cat=101&ccb=1-5&_nc_sid=7206a8&_nc_ohc=qOzvzUHqh3MAX_TgZnz&_nc_ht=scontent.ftun1-2.fna&oh=00_AT8VAT8c3n8ctSuwyrhmqiAXHUNZWeWuqrpp1n8Y1zuLww&oe=6254EDE9"
            alt="">

    </div>
    <mat-divider></mat-divider>
    <h2 matSubheader> pages </h2>
    <a mat-list-item routerLinkActive="list-item-active" routerLink='/'>dashboard</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink='/posts'>posts</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink='/articles'>articles</a>

    <mat-divider></mat-divider>
    <h2 matSubheader> tools </h2>
    <a mat-list-item routerLinkActive="list-item-active" routerLink='/contacts'>
        <mat-icon>import_contacts</mat-icon>
        contacts
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink='/contacts'>
        <mat-icon>contact_phone</mat-icon>
        leads
    </a>

</mat-nav-list>