<h6>
    Notes
</h6>


<div class="mat-elevation-z8">
    <table mat-table [dataSource]="SourceData">

        <!-- Position Column -->
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> No. </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> student name </th>
            <td mat-cell *matCellDef="let element"> <a href="#" style="text-decoration: none;color: black;"> {{element.name}}</a> </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="cin">
            <th mat-header-cell *matHeaderCellDef> cin </th>
            <td mat-cell *matCellDef="let element"> {{element.cin}} </td>
        </ng-container>
        <ng-container matColumnDef="note">
            <th mat-header-cell *matHeaderCellDef> note </th>
            <td mat-cell *matCellDef="let element"> {{element.note}} </td>
        </ng-container>
        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> delete note </th>
            <td mat-cell *matCellDef="let element">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="material-icons"><a href="#" style="color:red;text-decoration: none;">delete</a></span> </td>
        </ng-container>




        <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
    </mat-paginator>
</div>