<div class="two">
    <a href="/qcm/addLanguage" style="text-decoration: none; font-size: larger;color:blue"><button style="border-radius: 50%;" mat-mini-fab color="accent" aria-label="Example icon button with a plus one icon">
    <mat-icon >add</mat-icon>
  </button> Add language </a>
    <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-primary" type="submit">Search</button>
    </form>
</div>
<pre>



</pre>
<h6>
    Languages
</h6>
<pre> </pre>

<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col" *ngFor="let c of card;let i=index">
        <div class="card mb-3" style="max-width: 540px;">
            <app-qcmcard Lname="{{card[i].name}}" lversion="{{card[i].version}}" passScore="{{card[i].passScore}}" description="{{card[i].description}}" imgsrc="{{card[i].imgsrc}}" category="{{card[i].category}}" id="{{card[i]._id}}">
            </app-qcmcard>
        </div>
    </div>

</div>