<h6>
    Languages
</h6><pre> </pre>
<a href="/qcm/addLanguage" style="text-decoration: none; font-size: larger;color:blue"><button mat-mini-fab color="accent" aria-label="Example icon button with a plus one icon">
    <mat-icon>add</mat-icon>
  </button> Add language </a>



<pre> </pre>


<div class="cards">
    <a href="">
        <app-qcmcard></app-qcmcard>
    </a>
    <div style="padding:10px;"></div>
    <a href="">
        <app-qcmcard></app-qcmcard>
    </a>
    <div style="padding:10px;"></div>
    <a href="">
        <app-qcmcard></app-qcmcard>
    </a>
</div>
<pre>

</pre>
<div class="cards">
    <a href="">
        <app-qcmcard></app-qcmcard>
    </a>
    <div style="padding:10px;"></div>
    <a href="">
        <app-qcmcard></app-qcmcard>
    </a>
    <div style="padding:10px;"></div>
    <a href="">
        <app-qcmcard></app-qcmcard>
    </a>
</div>