@import "../../../../node_modules/bootstrap/dist/css/bootstrap.css";
table {
    width: 100%;
}

.example-card {
    max-width: 400px;
}

.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

.cards {
    display: inline-flex;
}

.returncadinline {
    display: block;
}

a {
    text-decoration: none;
}

.two {
    display: block;
}

.d-flex {
    float: right;
}

li {
    display: inline;
}