@import "../../../../node_modules/bootstrap/dist/css/bootstrap.css";
table {
    width: 100%;
}

.example-card {
    max-width: 400px;
}

.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

.cards {
    display: flex;
}

a {
    text-decoration: none;
}

.two {
    display: block;
    position: fixed;
    z-index: 2;
    background-color: whitesmoke;
    top: 64px;
    width: 75%;
    padding: 25px;
}

.longbar {
    display: block;
    position: fixed;
    z-index: 2;
    background-color: whitesmoke;
    top: 64px;
    width: 100%;
    padding: 25px;
}

.d-flex {
    float: right;
}

li {
    display: inline;
}