:host {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

button {
    border-radius: 50px;
    width: 80px;
}

.buttons {
    display: inline;
}

form {
    margin-left: 30%;
    margin-top: 10%;
}