@import"C:\Users\wissem\Desktop\dashbord\dashboardd\node_modules\bootstrap\dist\css\bootstrap.css";
.mat-stepper-horizontal {
    margin-top: 8px;
    margin-left: 150px;
    margin-right: 150px;
}

.mat-form-field {
    margin-top: 16px;
}

.form-control {
    padding-right: 100%;
}

form {
    margin-left: 120px;
}

input {}