<mat-card>
    <div class="card-header">
        <img src="{{imgsrc}}" alt="city" />
    </div>
    <pre> </pre>
    <mat-card-content>
        <div class="card-body">
            <h6>
                {{Lname}} : {{lversion}}
            </h6>
            <mat-card-subtitle>
                {{subtitle}}
            </mat-card-subtitle>

            {{(readMore) ? description : description | slice:0:50}}
            <span *ngIf="!readMore">...
                <a href="javascript:;" *ngIf="!readMore" (click)="readMore=true">Read More</a>
            </span>


        </div>
        <mat-card-actions>

            <div class="please">
                <span class="material-icons "><a href="/qcm/editlanguage" style="color:blue;text-decoration: none;;">edit</a></span> &nbsp;&nbsp;
                <span class="material-icons"><a href="#" style="color:red;text-decoration: none;">delete</a></span>
            </div>
        </mat-card-actions>
        <pre>   </pre>

    </mat-card-content>


</mat-card>