<u> set number of answers </u>:<input (click)="printnbq(nbq.value)" #nbq type="number" min="2" max="8"><input class="form-control form-control-lg" id="formFileLg" type="file"> <br>
<p> check the answer if it is true</p>

<div class="form-group col-sm-6 flex-column d-flex" *ngFor="let o of Anbq;let i = index;">

    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="{{i+1}}" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="text" matInput class="inputs" placeholder="answer number {{i+1}}"><br>
        
        
        </label>
    </div>
</div>