<h1>
    students
</h1>

<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataa">

        <!-- Position Column -->
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> No. </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> student name </th>
            <td mat-cell *matCellDef="let element"> <a href="#" style="text-decoration: none;color: black;"> {{element.name}}</a> </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="cin">
            <th mat-header-cell *matHeaderCellDef> cin </th>
            <td mat-cell *matCellDef="let element"> {{element.cin}} </td>
        </ng-container>
        <ng-container matColumnDef="note">
            <th mat-header-cell *matHeaderCellDef> note </th>
            <td mat-cell *matCellDef="let element"> {{element.note}} </td>
        </ng-container>





        <tr mat-header-row *matHeaderRowDef="Columns"></tr>
        <tr mat-row *matRowDef="let row; columns: Columns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of  element">
    </mat-paginator>
</div>

<mat-divider>
</mat-divider>
<br><br>
<app-students-note></app-students-note>